<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pshirodkar.edu.neu.coe.assignment3.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pshirodkar.edu.neu.coe.assignment3.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarSelectServlet</display-name>
    <servlet-name>CalendarSelectServlet</servlet-name>
    <servlet-class>pshirodkar.edu.neu.coe.assignment3.servlet.CalendarSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarSelectServlet</servlet-name>
    <url-pattern>/SelectCalendar</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>pshirodkar.edu.neu.coe.assignment3.servlet.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEvent</display-name>
    <servlet-name>NewEvent</servlet-name>
    <servlet-class>pshirodkar.edu.neu.coe.assignment3.servlet.NewEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEvent</servlet-name>
    <url-pattern>/NewEvent</url-pattern>
  </servlet-mapping>
</web-app>